/* app css stylesheet */

.todo-list li {
    list-style: none;
}
.todo-list li input[type=checkbox] {
    margin-right: 10px;
}
.todo-list {
    margin: 0;
    padding: 0;
}
.done span.show-text{
    text-decoration: line-through;
    color: #cb4e2d;
}
.error-message {
    font-weight: bolder;
    color: #ED5E5E;
}
.success-message {
    font-weight: bolder;
    color: #437bb6;
}
.animate-switch.ng-animate {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
    opacity:0;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
    opacity: 1;
}
.animate-switch {
    position: absolute;
}
.li {
    height: 22px;
    margin: 5px 0;
}
.edit-input {
    color: rgba(34, 5, 0, 0.79);
}