<h3>Home page</h3>
<div class="row">
    <div class="col-md-offset-3 col-md-5">
        <input type="text" name="todo" ng-model="todo" ng-keyup="addTodo($event)" placeholder="Todo wish" class="form-control"> <br/>
        <ul class="todo-list">
            <li ng-repeat="todo in todoList track by $index" ng-class="{done: todo.todoCheck}" class="li">

                <div ng-switch="todo.operation">
                    <div ng-switch-when="show" class="animate-switch">
                        <input type="checkbox" ng-model="todo.todoCheck">
                        <span ng-click='editTodo(todo)' class="show-text">{{ todo.text }}</span>
                    </div>
                    <div ng-switch-when="edit" class="animate-switch">
                        <input type="text" ng-model="todo.text" ng-keyup="finishEditTodo($event, todo)" class="edit-input">
                    </div>
                </div>
            </li>
        </ul>
        <hr>
        <p class="text-center">
            <span>
                <input type="checkbox" ng-click="selectAll()" id="select_all" ng-model="selectedAllState">
                <label for="select_all">Select all.</label>
            </span>

            <span>
                &nbsp;&nbsp;&nbsp;Selected {{ selected() }} from {{ todoList.length }}
            </span>
            &nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-xs btn-info" value="Save" ng-click="save()">
            &nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-xs btn-warning" value="Load" ng-click="load()">
            &nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-xs btn-danger" value="Remove selected" ng-click="removeSelected()">
            <p class="text-center" ng-bind-html="info"></p>
        </p>
    </div>
</div>
